*{
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
  color: white;
  box-sizing: border-box;
}

header{
  width: 100%;
  background: linear-gradient(to right, #04011C, #1F0D3C);
}

nav{
  padding: 1rem 3rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul{
  list-style: none;
  display: flex;
  gap: 3rem;
}

.logo h3{
  font-weight: bold;
  font-size: 28px;
  color: #EA0070;
  cursor: pointer;
}

.nav_list li{
  font-weight: 400;
  font-style: 20px;
  cursor: pointer;
  transition: .5s;
}

.nav_list li:hover{
  color: #EA0070;
}

.primary_btn{
  padding: 12px 30px;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #EA0070;
  color: white;
  font-weight: bold;
  transition: .5s;
  cursor: pointer;
}
.primary_btnBG{
  padding: 12px 30px;
  background-color: #EA0070;
  border-radius: 8px;
  border: 1px solid #EA0070;
  color: white;
  font-weight: bold;
  transition: .5s;
  cursor: pointer;
}

.btn button:hover{
  color: white;
  background-color: #EA0070;
}

.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.hero_right{
  display: flex;
  justify-content: end;
  width: 50%;
}
.hero_left{
  width: 45%;
}

.hero_right img{
  width:75%;
  margin-top: 15px;
}

.hero_left h1{
  font-size: 55px;
  font-weight: 900;
}

.hero_left h1 span{
  font-weight: 300;
  color: #03CEDA;
  font-style: italic;
}

.hero_left > p{
  font-size: 20px;
  font-weight:300;
  line-height: 1.5;
  margin: 18px 0;
}

.nico_nft .nico_headline {
  display: flex;
  align-items: center;
}

.nico_info{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nico_nft{
  margin-top: 40px;
}

.nico_headline h2{
  font-size: 24px;
  margin-left: 10px;
}

.nico_info{
  margin-top: 14px;
}

.nico_info .nico_item p{
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 8px;
}

.nico_info .nico_item h4{
  font-size: 25px;
}

















